[Unit]
Description=camPi
After=network-target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/camPi
ExecStop=/usr/bin/killall omxplayer
RemainAfterExit=yes
Type=idle

[Install]
WantedBy=multi-user.target
